.btn {
  padding: 0.5em 1em;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  width: fit-content;
  white-space: nowrap;
}

.btn:hover {
  border-color: var(--light-text);
  transition: all 150ms;
}

.btn:disabled {
  border-color: var(--foreground);
}
