.comment {
  border-bottom: var(--border);
  margin: 1em 0;
  padding: 1em 0;
}

.details {
  font-size: 0.9em;
  /* font-size: 12.96px; */
  color: #666;
  display: flex;
  justify-content: space-between;
}

.details > div > a {
  display: inline;
  font-size: inherit;
}

.body {
  font-size: 1.1em;
  margin: 0.5em 0;
}

.btns {
  font-size: 0.9em;
}

.btns,
.btns > button {
  color: #666;
}

.textBox {
  display: block;
  width: 100%;
  background-color: inherit;
  margin: 0.5em 0;
  font-size: 1.1em;
}
