.dangerBtn {
  border-radius: var(--radius);
  background-color: var(--accent);
  padding: 0.5em 1em;
  color: white;
  width: fit-content;
  font-weight: bold;
  transition: all 150ms;
}

.dangerBtn:hover {
  background-color: var(--accent-dark);
}

.dangerBtn:disabled {
  background-color: var(--accent-light);
}