.sidePanel {
  width: 30%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding: 1em;
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
  
.mainColumn {
  padding: 1em;
  width: 70%;
  padding-top: 2.5em;
}
  
.container {
  display: flex;
  margin: auto;
  gap: 4em;
  width: 100%;
  max-width: 1200px;
}
  
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 0;
  }

  .mainColumn {
    width: 100%;
  }

  .sidePanel {
    position: static;
    width: 100%;
  }
}
  