.sidePanel {
  width: 30%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding: 1em;
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
  
.mainColumn {
  padding: 1em;
  width: 70%;
  padding-top: 2.5em;
}
  
.container {
  display: flex;
  margin: auto;
  gap: 4em;
  width: 100%;
  max-width: 1200px;
}

.sectionHeading {
  text-transform: uppercase;
  font-size: 0.9em;
  color: var(--light-text);
}

.username {
  font-size: 1.1em;
  margin: 0.5em 0;
  color: var(--light-text);
  font-weight: normal;
}

.listItem {
  display: block;
  padding: 2em 0;
  border-bottom: 1px solid var(--foreground);
}

.listItem:hover h3 {
  text-decoration: underline;
}
  
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 0;
  }

  .mainColumn {
    width: 100%;
  }

  .sidePanel {
    position: static;
    width: 100%;
  }
}
  