.form {
  margin: 2em auto;
  max-width: 15em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input {
  padding: 0.5em;
  border-radius: var(--radius);
  border: none;
  background-color: lightgray;
  display: block;
  width: 100%;
}
