.form {
  margin: 2em auto;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  display: block;
}
