.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5em;
}
