.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
  z-index: 1;
}

.header {
  border-bottom: var(--border);
}
