.options {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: fit-content;
  position: absolute;
  right: 0em;
  white-space: nowrap;
  background-color: var(--background);
  overflow: hidden;
}

.option {
  cursor: pointer;
  text-align: left;
  color: black;
  padding: 0.5em 1em;
}

.option:hover {
  background-color: var(--highlight);
  color: white;
}

.toggle {
  border-radius: 100px;
}

.toggle:hover {
  background-color: var(--light-foreground);
  transition: all 150ms;
}

.container {
  position: relative;
}
