.tile {
    padding: 1em;
    border-radius: var(--radius);
    border: var(--border);
    /* width: 20%; */
    /* flex-grow: 1; */
    display: block;
}

.details {
    font-size: 0.9em;
    color: #666;
}