.post {
  padding: 1em;
  max-width: 750px;
  margin: auto;
}

.title {
  font-size: 3em;
}

.heading {
  font-size: 2em;
}

.tags {
  margin-top: 2em;
  display: flex;
  gap: 0.5em;
}

.paragraph {
  margin-bottom: 1em;
}

.tag {
  padding: 0.2em 0.5em;
  background-color: lightgray;
  border-radius: 5px;
}

.details {
  font-size: 0.8em;
  margin: 1em 0;
}
