.post {
  padding: 1em;
  max-width: 750px;
  margin: auto;
}

.title {
  font-size: 3em;
}

.heading {
  font-size: 1.7em;
}

.paragraph {
  margin-bottom: 1em;
  font-size: 1.1em;
}