.grid {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 15% 15%;
  gap: 5em;
}

.grid > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 1;
  flex-grow: 1;
  width: 100%;
}

@media (max-width: 900px) {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
