.container {
  padding: 1em;
  max-width: 750px;
  margin: auto;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-size: 3em;
}

.heading {
  font-size: 1.7em;
}

.paragraph {
  margin-bottom: 1em;
  font-size: 1.1em;
}

.paragraphBody {
  white-space: pre-wrap;
}