.editor {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.headingInput {
  font-size: 1.5em;
  font-weight: 500;
}

.titleInput {
  font-size: 2em;
  font-weight: bold;
}

.textBox {
  font-size: 1.1em;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 100px;
  width: fit-content;
  margin: auto;
}

.btn:hover {
  background-color: #efefef;
}
