.editor {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.headingInput {
  outline: none;
  font-size: 1.5em;
  font-weight: 500;
}

.titleInput {
  outline: none;
  font-size: 2em;
  font-weight: bold;
}

.textBox {
  outline: none;
  font-size: 1.1em;
}

.editor textarea {
  width: 100%;
}
