.btn {
  display: none;
  margin-left: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  width: 15em;
}

.bar {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 100px;
  transition: all 150ms;
}

.bar:hover {
  background-color: var(--light-foreground);
}

.bar:focus {
  box-shadow: var(--outline);
}

.results h4 {
  margin: 1em 1em 0.5em 1em;
}

.results h4:not(:first-child) {
  margin-top: 2em;
}

.results a {
  padding: 0.5em 1em;
  display: block;
}

.results a:hover {
  background-color: var(--light-foreground);
}

.results {
  width: 100%;
  max-width: 15em;
  position: absolute;
  top: 80%;
  background-color: var(--background);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  z-index: 2;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 500px) {
  .btn {
    display: block;
    margin-right: 0.5em;
  }

  .bar {
    display: none;
    flex-grow: 1;
  }

  .container {
    margin-left: auto;
  }

  .fullWidthContainer {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: var(--background);
    width: calc(100% - 2em);
    height: 100%;
  }

  .fullWidthContainer .bar {
    display: block;
    flex-grow: 1;
  }

  .fullWidthContainer .btn {
    margin-right: 0;
    margin-left: 0.5em;
  }

  .bar input {
    flex-grow: 1;
  }

  .results {
    display: none;
    max-width: 100%;
  }

  .fullWidthContainer .results {
    display: block;
  }
}
