.tagList {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  padding: 0.5em;
  border-radius: var(--radius);
  background-color: var(--foreground);
  display: flex;
  align-items: center;
}

.removeBtn {
  color: inherit;
  margin-left: 0.5em;
  cursor: pointer;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeBtn:hover {
  background-color: var(--darker-foreground);
  transition: all 150ms;
}

.tagForm {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}