.tagList {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  padding: 0.5em;
  border-radius: var(--radius);
  background-color: var(--foreground);
  display: flex;
}

.removeBtn {
  color: inherit;
  margin-left: 0.5em;
  cursor: pointer;
  font-weight: bold;
}

.tagForm {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}