.tags {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  width: fit-content;
}

.tag {
  padding: 0.2em 0.5em;
  background-color: var(--foreground);
  border-radius: var(--radius);
}
