.userInfo {
  width: 20em;
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding: 1em;
  padding-top: 2.5em;
}

.posts {
  padding: 1em;
  max-width: 750px;
}

.container {
  display: flex;
  width: fit-content;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    gap: 0; 
  }

  .userInfo {
    position: static;
  }
}
